{{define "article" -}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="亲子阅读打卡">
    <link rel="shortcut icon" href="//cnce1m2.ef.cn/campaign/common/logo.png">
    <title>亲子阅读打卡 - 后台</title>
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre-exp.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre-icons.min.css">
    <!-- <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/highlight.min.css"> -->
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/reading/main.css">
    <!-- <link rel="stylesheet" href="/uploads/main.css"> -->
</head>

<body id="auto-height">
    <div class="off-canvas off-canvas-sidebar-show">
        <!-- off-screen toggle button -->
        <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
            <i class="icon icon-menu"></i>
        </a>

        <div id="sidebar-id" class="off-canvas-sidebar">
            <div class="nav-logo">
                英孚亲子英语
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="/cms/dashboard">后台首页</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/readers">打卡排名</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/notification">发送用户提醒</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/articles">文章列表</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/formids">FormID 列表</a>
                </li>
            </ul>
        </div>

        <a class="off-canvas-overlay" href="#close"></a>

        <div class="off-canvas-content scroll">
            <h1>编辑文章</h1>
            {{with .article}}
            <form class="form-horizontal">
                <input type="hidden" name="id" value="{{.ID}}">
                <input type="hidden" name="updated" value="{{.Updated}}">
                <input type="hidden" name="created" value="{{.Created}}">

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">标题</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="title" class="form-input" type="text" placeholder="标题" value="{{.Title}}" name="title">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">简介</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="summary" class="form-input" type="text" placeholder="简介" value="{{.Summary}}" name="summary">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">内容</label>
                        <a class="btn btn-primary col-11 col-sm-12" id="btn-parseTxt">格式化</a>
                        <a class="btn btn-primary col-11 col-sm-12" id="btn-parseJson">美化</a>
                    </div>
                    <div class="col-10 col-sm-12">
                        <textarea class="form-input json" id="content" placeholder="内容" rows="12" value="" name="content">{{.Content}}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">封面链接</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="cover" class="form-input" type="text" placeholder="封面链接" value="{{.Cover}}" name="cover">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">年龄组</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="age_type" class="form-input" type="text" placeholder="年龄组" value="{{.AgeType}}" name="age_type">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">素材类型</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="media_type" class="form-input" type="text" placeholder="素材类型" value="{{.MediaType}}" name="media_type">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">音频链接</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="audio_link" class="form-input" type="text" placeholder="音频链接" value="{{.AudioLink}}" name="audio_link">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">视频链接</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="video_link" class="form-input" type="text" placeholder="视频链接" value="{{.VideoLink}}" name="video_link">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">字数</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="words" class="form-input" type="text" placeholder="字数" value="{{.Words}}" name="words">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">估时</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="estimate" class="form-input" type="text" placeholder="估时" value="{{.Estimate}}" name="estimate">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">发布日期</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="publish" class="form-input" type="text" placeholder="发布日期" value="{{.Publish}}" name="publish">
                    </div>
                </div>

                <a id="btn-update" class="btn btn-primary col-2 col-sm-12">修改文章</a>
                <a id="btn-new" class="btn btn-primary col-2 col-sm-12">新增文章</a>
            </form>
            {{end}}
        </div>
    </div>

    <script src="//cnce1m2.ef.cn/campaign/common/zepto.min.js"></script>
    <!-- <script src="//cnce1m2.ef.cn/campaign/common/highlight.min.js"></script> -->
    <script src="//cnce1m2.ef.cn/campaign/reading/main.js"></script>
    <!-- <script src="/uploads/main.js"></script> -->
</body>

</html>
{{- end}}