{{define "articleList" -}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="亲子阅读打卡">
    <link rel="shortcut icon" href="//cnce1m2.ef.cn/campaign/common/logo.png">
    <title>亲子阅读打卡 - 后台</title>
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre-exp.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre-icons.min.css">
    <!-- <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/reading/main.css"> -->
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/reading/main.css">
</head>

<body id="auto-height">
    <div class="off-canvas off-canvas-sidebar-show">
        <!-- off-screen toggle button -->
        <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
            <i class="icon icon-menu"></i>
        </a>

        <div id="sidebar-id" class="off-canvas-sidebar">
            <div class="nav-logo">
                英孚亲子英语
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="/cms/dashboard">后台首页</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/readers">打卡排名</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/notification">发送用户提醒</a>
                </li>
                <li class="nav-item active">
                    <a href="/cms/articles">文章列表</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/formids">FormID 列表</a>
                </li>
            </ul>
        </div>

        <a class="off-canvas-overlay" href="#close"></a>

        <div class="off-canvas-content scroll">
            <h1>文章列表</h1>
            <table id="readerList" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>发布日期</th>
                        <th>年龄组</th>
                        <th>字数</th>
                        <th>时间</th>
                        <th>简介</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .articleList}}
                    <tr>
                        <td>{{.Title}}</td>
                        <td>{{.Publish}}</td>
                        <td>{{.AgeType}}</td>
                        <td>{{.Words}}</td>
                        <td>{{.Estimate}}</td>
                        <td>{{.Summary}}</td>
                        <td>
                            <a href="/cms/article/{{.ID}}" class="btn">修改</a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <script src="//cnce1m2.ef.cn/campaign/common/zepto.min.js"></script>
    <script src="//cnce1m2.ef.cn/campaign/reading/main.js"></script>
    <!-- <script src="/uploads/main.js"></script> -->
</body>

</html>
{{- end}}