{{define "formid" -}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="亲子阅读打卡">
    <link rel="shortcut icon" href="//cnce1m2.ef.cn/campaign/common/logo.png">
    <title>亲子阅读打卡 - 后台</title>
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre-exp.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre-icons.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/reading/main.css">
    <!-- <link rel="stylesheet" href="/uploads/main.css"> -->
</head>

<body id="auto-height">
    <div class="off-canvas off-canvas-sidebar-show">
        <!-- off-screen toggle button -->
        <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
            <i class="icon icon-menu"></i>
        </a>

        <div id="sidebar-id" class="off-canvas-sidebar">
            <div class="nav-logo">
                英孚亲子英语
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="/cms/dashboard">后台首页</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/readers">打卡排名</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/notification">发送用户提醒</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/articles">文章列表</a>
                </li>
                <li class="nav-item active">
                    <a href="/cms/formids">FormID 列表</a>
                </li>
            </ul>
        </div>

        <a class="off-canvas-overlay" href="#close"></a>

        <div class="off-canvas-content scroll">
            <h1>FormID 列表</h1>
            <div><button class="btn btn-primary col-2 col-sm-12" id="btn-send">开始发送</button></div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>OpenID</th>
                        <th>FormID</th>
                        <th>Expire</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .formids}}
                    <tr>
                        <td>{{.OpenID}}</td>
                        <td>{{.FormID}}</td>
                        <td>{{.Expire}}</td>
                        <td><span data-q="/cms/sendnotice?id={{.ID}}&openid={{.OpenID}}&formid={{.FormID}}" class="label">ready to send</span></td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>

    <script src="//cnce1m2.ef.cn/campaign/common/zepto.min.js"></script>
    <script src="//cnce1m2.ef.cn/campaign/reading/main.js"></script>
    <!-- <script src="/uploads/main.js"></script> -->
</body>

</html>
{{- end}}