{{define "home" -}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="亲子阅读打卡">
    <link rel="shortcut icon" href="//cnce1m2.ef.cn/campaign/common/logo.png">
    <title>亲子阅读打卡 - 后台</title>
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/reading/main.css">
</head>

<body id="auto-height">
    <div class="container grid-xl">
        <div class="columns fullheight">
            <div class="column col-4 col-xs-10 col-mx-auto v-center">
                <form id="login" action="/cms/login" method="post">
                    <div class="form-group login-title">英孚教育 - 亲子打卡后台</div>
                    <div class="form-group">
                        <label class="form-label" for="username">Name</label>
                        <input class="form-input" type="text" name="username" id="username" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-input" type="password" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group btn-login">
                        {{with .err}}
                        <p class="form-input-hint text-error">{{.}}</p>
                        {{end}}
                        <button class="btn btn-primary btn-lg fullwidth">登 陆</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="//cnce1m2.ef.cn/campaign/common/zepto.min.js"></script>
    <script src="//cnce1m2.ef.cn/campaign/reading/main.js"></script>
</body>

</html>
{{- end}}