{{define "notification" -}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="亲子阅读打卡">
    <link rel="shortcut icon" href="//cnce1m2.ef.cn/campaign/common/logo.png">
    <title>亲子阅读打卡 - 后台</title>
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre-exp.min.css">
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/spectre-icons.min.css">
    <!-- <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/common/highlight.min.css"> -->
    <link rel="stylesheet" href="//cnce1m2.ef.cn/campaign/reading/main.css">
    <!-- <link rel="stylesheet" href="/uploads/main.css"> -->
</head>

<body id="auto-height">
    <div class="off-canvas off-canvas-sidebar-show">
        <!-- off-screen toggle button -->
        <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
            <i class="icon icon-menu"></i>
        </a>

        <div id="sidebar-id" class="off-canvas-sidebar">
            <div class="nav-logo">
                英孚亲子英语
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="/cms/dashboard">后台首页</a>
                </li>
                <li class="nav-item">
                    <a href="/cms/readers">打卡排名</a>
                </li>
                <li class="nav-item active">
                    <a href="/cms/notification">发送用户提醒</a>
                </li>
            </ul>
        </div>

        <a class="off-canvas-overlay" href="#close"></a>

        <div class="off-canvas-content scroll">
            <h1>发送用户提醒</h1>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">用户昵称</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="name" class="form-input" type="text" placeholder="昵称" name="name">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">OpenID</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="openid" class="form-input" type="text" placeholder="昵称" name="openid">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">领奖方式</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="howto" class="form-input" type="text" placeholder="领奖方式" name="howto">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-2 col-sm-12">
                        <label class="form-label">奖品名称</label>
                    </div>
                    <div class="col-10 col-sm-12">
                        <input id="prise" class="form-input" type="text" placeholder="奖品名称" name="prise">
                    </div>
                </div>

                <a id="btn-send-prise" class="btn btn-primary col-2 col-sm-12">发送提醒</a>
            </form>
        </div>
    </div>

    <script src="//cnce1m2.ef.cn/campaign/common/zepto.min.js"></script>
    <!-- <script src="//cnce1m2.ef.cn/campaign/common/highlight.min.js"></script> -->
    <script src="//cnce1m2.ef.cn/campaign/reading/main.js"></script>
    <!-- <script src="/uploads/main.js"></script> -->
</body>

</html>
{{- end}}