{{define "demo" -}}
<!DOCTYPE html><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="ie=edge"><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no"><meta name=renderer content=webkit><meta name=description content=王洛勇为你读了首诗……><title>王洛勇为你读了首诗……</title><link rel="shortcut icon" href=//cnce1m2.ef.cn/campaign/reading/video/logo.png><link rel=apple-touch-icon href=//cnce1m2.ef.cn/campaign/reading/video/logo.png><link rel=stylesheet href=//cnce1m2.ef.cn/campaign/reading/video/app2-faafcc5ed7.min.css><script>!function (b, a) { var c = b.documentElement; a = function () { var a = c.clientWidth; a && (c.style.fontSize = a / 375 * 16 + "px") }; window.addEventListener("orientationchange" in window ? "orientationchange" : "resize", a, !1); b.addEventListener("DOMContentLoaded", a, !1) }(document, window);</script><div class=wrapper><div class=videobox><video id=mainvideo class=openvideo x-webkit-airplay=true webkit-playsinline=true playsinline="" preload="" x5-video-player-type=h5 x5-video-player-fullscreen=false src=//cnce1m2.ef.cn/campaign/reading/video/video_without_last_bg.mp4></video><div class=skip>跳过</div></div><div class=page-start><img src=//cnce1m2.ef.cn/campaign/reading/video/bg1.jpg><div class=btn-start></div></div></div><script src=//cnce1m2.ef.cn/campaign/reading/video/libs2-d409a65887.min.js></script><script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js?ver=1"></script><script>wx.config({
    appId: {{.config.AppID}},
    timestamp: {{.config.Timestamp}},
    nonceStr: {{.config.NonceStr}},
    signature: {{.config.Signature}},
    jsApiList: [
    'checkJsApi',
    'onMenuShareTimeline',
    'onMenuShareAppMessage',
    'onMenuShareQQ',
    'onMenuShareWeibo'
    ]
});</script>
{{- end}}