{{define "video" -}}
<!DOCTYPE html><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="ie=edge"><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no"><meta name=renderer content=webkit><meta name=description content=王洛勇为你读了首诗……><title>王洛勇为你读了首诗……</title><link rel="shortcut icon" href=//cnce1m2.ef.cn/campaign/reading/video/logo.png><link rel=apple-touch-icon href=//cnce1m2.ef.cn/campaign/reading/video/logo.png><link rel=stylesheet href=//cnce1m2.ef.cn/campaign/reading/video/app-f9189a8b6c.min.css><script>!function (b, a) { var c = b.documentElement; a = function () { var a = c.clientWidth; a && (c.style.fontSize = a / 375 * 16 + "px") }; window.addEventListener("orientationchange" in window ? "orientationchange" : "resize", a, !1); b.addEventListener("DOMContentLoaded", a, !1) }(document, window);

        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b0c30a6f2d4b009630db60a6ec1459b5";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();</script><div class=wrapper><div class=videobox><video id=mainvideo class=openvideo x-webkit-airplay=true webkit-playsinline=true playsinline="" preload="" x5-video-player-type=h5 x5-video-player-fullscreen=false src=//cnce1m2.ef.cn/campaign/reading/video/video.mp4></video><div class=skip>跳过</div></div><div class=page-start><img src=//cnce1m2.ef.cn/campaign/reading/video/bg1.jpg><div class=btn-start></div></div><div class=page-end><img src=//cnce1m2.ef.cn/campaign/reading/video/bg2.jpg><div class=btn-qr></div><div class=btn-replay></div><div class=btn-share></div></div><div class=share><img class=arrow src=//cnce1m2.ef.cn/campaign/reading/video/share.png> <span>点击这里分享</span></div><div class=redirect><img class=bg src=//cnce1m2.ef.cn/campaign/reading/video/mini.jpg><div class=redirect-box><div class=title>加入英孚共读计划</div><div class=desc><p>从小培养孩子的英语阅读习惯，不仅能够帮助他们建立语言学习的自信，更能开拓视野，在书中发现不一样的世界。<p>现在就加入英孚亲子英语共读-唐诗主题，每天3分钟，见证孩子的点滴进步。</div><div class=qr><img src=//cnce1m2.ef.cn/campaign/reading/video/qr.png><p>长按识别二维码加入计划</div></div><div class=btn-close></div></div></div><script src=//cnce1m2.ef.cn/campaign/reading/video/libs-e2e418a8d3.min.js></script><script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js?ver=1"></script><script>wx.config({
            appId: {{.config.AppID}},
            timestamp: {{.config.Timestamp}},
            nonceStr: {{.config.NonceStr}},
            signature: {{.config.Signature}},
            jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo'
            ]
        });</script>
{{- end}}